img/
**/pycache/
**/data
Thesis_Research_Skamantzoura.pptx
2109.01999.pdf
model_components/__pycache__
predictions/
graph.py
msssim_vs_bpp.png
psnr_vs_bpp.png
results.txt
results100.txt
results1000.txt
thesis_model/fingerprint.pb
thesis_model/keras_metadata.pb
thesis_model/saved_model.pb
thesis_model/variables/variables.data-00000-of-00001
thesis_model/variables/variables.index
thesis_model100/fingerprint.pb
thesis_model100/keras_metadata.pb
thesis_model100/saved_model.pb
thesis_model100/variables/variables.data-00000-of-00001
thesis_model100/variables/variables.index
thesis_model1000/fingerprint.pb
thesis_model1000/keras_metadata.pb
thesis_model1000/saved_model.pb
thesis_model1000/variables/variables.data-00000-of-00001
thesis_model1000/variables/variables.index
util/__pycache__/basic_util.cpython-310.pyc
crop.py
get_bpp.py
train.sh
codes.npy
shape.npy
