img/
**/models/__pycache__/
**/utils/__pycache__/
**/__pycache__/
**/data
Thesis_Research_Skamantzoura.pptx
predictions/
output/
crop.py
graph.py
**/balle2017/
**/checkpoints/
**/ImageCompression/
graph-clic.py
train_balle.sh
test_balle.sh